HOST=
PORT=

JWT_SECRET=

DB_USER=
DB_PASSWD=
DB_NAME=
DB_PORT=
DB_HOST=

REDIS_HOST=
REDIS_PORT=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

CAR_RECOGNITION_API_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_SCOPES=
OAUTH2_STATE=

swag init -g src/api/main.go -o src/docs